{#
/**
 * @file bits_alianzas.html.twig
 * Default theme implementation to present Bits alianzas data.
 *
 * This template is used when viewing Bits alianzas pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bits_alianzas()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bits_alianzas') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
