
<div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  {{ children }}
  {% if description %}
    {%
      set classes = [
        aria_description ? 'description',
      ]
    %}
    <div{{ attributes.addClass(classes) }}>{{ description }}</div>
  {% endif %}
</div>
