
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'es'}
</script>
{#<script src="https://apis.google.com/js/plusone.js"></script>#}
{#<g:plus action="share" annotation="bubble"></g:plus>#}
<a href="https://plus.google.com/share?url=" title="google plus">
    <img src="/modules/custom/adf_social/image/Gplus.png"/>
</a>
{#<div class="g-plus" data-action="share" data-annotation="none">#}
   {##}
{#</div>#}