<script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
></script>

<a href="https://www.pinterest.com" title="pinterest">
  <img src="/modules/custom/adf_social/image/pr.png"/>
</a>