<style type="text/css">
IMG.imgcenter{
display: block;
margin-left: auto;
margin-right: auto;
border:none;
}
</style>


<a target="_blank" align=center title="instagram" href="https://www.instagram.com/homecenter_co/?hl=es" >
  <img src="/modules/custom/adf_social/image/In.png"/>
</a>