
<a href="https://twitter.com/share" class="" data-show-count="false" title="twitter">
    <img src="/modules/custom/adf_social/image/Tw.png"/>
</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>